<!-- --- login or signUp section --  -->
    <section class="account_sec">
    <div class="login">
        <div class="card p-4 form_bg">
            <form action="">
                <div class="text-center">
                  <h4>  Login in Your Account</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="col-12 mt-3">
                        <label for="email">Password:</label>
                        <input type="password " name="password" id="password" class="form-control">
                    </div>
                    <div class="col-12 mt-3 d-flex justify-content-between align-items-center">
                      <button type="submit" class=" btn-login">Login</button>
                      <a href="/register">Register now ?</a>
                    </div>
                    <div class="col-12 mt-3  text-center">
                    
                      <a href="">Forgot Password ?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </section>