<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Pizza: App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- nav header      -->
<nav class=" d-flex justify-content-between mx-auto px-3">
    <div class="logo">
        <img src="/pd-img/logo/logo.png" alt="logo">
    </div>
    <div class="menu">
        <ul>
            <li> <a href="/">Home</a>
            <li class="offer_btn"> <a href="/offer">offer</a>
            <li> <a href="/ac">Account</a>
            <li > <a href="/cart" class="cart_btn"><i class="bi bi-cart-check-fill"></i> <span>0</span></a>
            </li>
        </ul>
    </div>
</nav>  

    <section class=" hero_section">
        <div class=" container  d-flex justify-content-around h-100 align-items-center  hero">

            <div class="hero-info" >
                <h6>Are you feeling hungry, than</h6>
                <h1>Don't Wait ...</h1>
                <a href="" class=" order-btn">order now</a>
            </div>

            <div class="hero-img ">
                <img src="pd-img/logo/hryp.png" alt="">
            </div>
        </div>
    </section>

    <section class="container">
        <h4>All Pizza List :</h4> 
        <div class="prd-list">
            <div class="row gy-3">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card ">
                        <div class="prd-photo">
                            <img src="/pd-img/pz.png"  class="img-fluid" alt="prd">
                        </div>
                        <div class="prd-name">
                            <h5>Mushroom and Pepperoni Pie</h5>
                        </div>
                        <div class="size">Medium</div>
                        <div class="prd-order">
                            <span class="price">₹555</span>
                            <button class="text-center">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="prd-photo">
                            <img src="/pd-img/p1 (3).png" class="img-fluid" alt="prd">
                        </div>
                        <div class="prd-name">
                           <h5>Italian Sausage Pan Pizza </h5>
                        </div>
                        <div class="size">Medium</div>
                        <div class="prd-order">
                            <div class="price"> ₹555</div>
                            <button class="text-center">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="prd-photo">
                            <img src="/pd-img/p1 (4).png" class="img-fluid" alt="prd">
                        </div>
                        <div class="prd-name">
                           <h5>Pizza Margherita</h5>
                        </div>
                        <div class="size">Medium</div>
                        <div class="prd-order">
                            <div class="price"> ₹555</div>
                            <button class="text-center">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="prd-photo">
                            <img src="/pd-img/p1 (3).png" class="img-fluid" alt="prd">
                        </div>
                        <div class="prd-name">
                           <h5> White Clam Pie</h5>
                        </div>
                        <div class="size">Medium</div>
                        <div class="prd-order">
                            <div class="price"> ₹555</div>
                            <button class="text-center">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="prd-photo">
                            <img src="/pd-img/p1 (3).png" class="img-fluid" alt="prd">
                        </div>
                        <div class="prd-name">
                           <h5> The Detroiter</h5>
                        </div>
                        <div class="size">Medium</div>
                        <div class="prd-order">
                            <div class="price"> ₹555</div>
                            <button class="text-center">
                                <span>+</span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
<footer>
     Made with ❤️ By : <a href="https://www.instagram.com/scarlet_sujeet/" target="_blank" > Scarlet_sujeet</a>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>