<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Pizza: App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- nav header      -->
<nav class=" d-flex justify-content-between mx-auto px-3">
    <div class="logo">
        <img src="/pd-img/logo/logo.png" alt="logo">
    </div>
    <div class="menu">
        <ul>
            <li> <a href="/">Home</a>
            <li class="offer_btn"> <a href="/offer">offer</a>
            <li> <a href="/ac">Account</a>
            <li > <a href="/cart" class="cart_btn"><i class="bi bi-cart-check-fill"></i> <span>0</span></a>
            </li>
        </ul>
    </div>
</nav>  

<%- body %>
<footer>
     Made with ❤️ By : <a href="https://www.instagram.com/scarlet_sujeet/" target="_blank" > Scarlet_sujeet</a>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>